body {
    font-family:chess;
    margin: 0;
    background-color:#212121;
}

.square {
    background:#964B00;
    display:inline-block;
    border:1px solid #fff;
    text-align:center;
    position: absolute;
    cursor: pointer;
}